@use 'variables' as *;

@import "primeicons/primeicons.css";

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  ::after,
  ::before {
    box-sizing: inherit;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: normal !important;
  color: var(--p-text-color, red);
  background-color: var(--background-color-0);
  height: 100vh;
  overflow: hidden;
}

#root,
#__next,
app-root {
  isolation: isolate;
}

.p-tooltip-text {
  font-size: 0.6875rem !important;
}

.p-inputtext {
  border-radius: .625rem !important;
}

.p-select,
.p-multiselect,
.p-select-option,
.p-multiselect-option {
  font-size: 0.75rem !important;
}

.p-datepicker,
.p-datepicker-panel,
p-datepicker {
  font-size: 0.75rem !important;

  * {
    font-size: inherit !important;
  }

  .p-datepicker-day-cell {
    width: 2rem !important;
    height: 2rem !important;
  }

  .p-datepicker-day {
    width: 2rem !important;
    height: 2rem !important;
  }

  .p-datepicker-header {
    padding: 0.25rem !important;

    .p-icon {
      width: 0.625rem !important;
      height: 0.625rem !important;
    }
  }
}

p-breadcrumb .p-breadcrumb {
  background: transparent !important;
  padding: 0 !important;
  font-size: .75rem !important;

  .p-icon {
    height: .5rem !important;
    width: .5rem !important;
  }
}